@using rina.Models.Route
@model RouteModel

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />


<div id="map"></div>

<div class="left-container" style="position: relative;">
    <div id="stations">

    </div>

    <form asp-action="AddRoute" id="AddRoute" style="overflow-y: auto;">
        <h3 style="text-align: center; margin-bottom: 5vh; color: white; font-size: 1.1rem;">ADD ROUTE</h3>

        <input asp-for="Stations" id="stationName" type="text" placeholder="station name">
        <input asp-for="Stations" id="stationCoords" type="text" placeholder="station coordinates">

        <div id="stationInputs">
            
        </div>

        <button type="button" id="addStationBtn" class="btn" style="position: relative; margin: 5vh 0 0 0;">Add New Station</button>
        <button type="submit" class="btn" style="position: relative; margin: 5vh 0 0 0;">Add Route</button>
    </form>
</div>


<script>
    // Add your Mapbox access token
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVlYS1icmFuZHVzYSIsImEiOiJjbGd0dGFwdzIwMjA1M3JrOHF3ZmR2N3NvIn0.tP1VOcDml_MHwvq98KkL6g';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [21.213444, 45.754082], // starting position [lng, lat]
        zoom: 12.5 // starting zoom
    });

    const stationInputsContainer = document.getElementById('stationInputs');
    const addStationBtn = document.getElementById('addStationBtn');
    const stationCounter = 0;

    addStationBtn.addEventListener('click', () => {
        const stationInputDiv = document.createElement('div');
        stationInputDiv.classList.add('station-input');

        const stationNameInput = document.createElement('input');
        stationNameInput.name = `Stations[${stationCounter}].Name`;
        stationNameInput.type = 'text';
        stationNameInput.placeholder = 'Station Name';

        const stationCoordsInput = document.createElement('input');
        stationCoordsInput.name = `Stations[${stationCounter}].Coordinates`;
        stationCoordsInput.type = 'text';
        stationCoordsInput.placeholder = 'Station Coordinates';

        stationInputDiv.appendChild(stationNameInput);
        stationInputDiv.appendChild(stationCoordsInput);
        stationInputsContainer.appendChild(stationInputDiv);

        // Increment station counter
        stationCounter++;
    });


    const draw = new MapboxDraw({
        // Instead of showing all the draw tools, show only the line string and delete tools
        displayControlsDefault: false,
        controls: {
            line_string: true,
            trash: true
        },
        // Set the draw mode to draw LineStrings by default
        defaultMode: 'draw_line_string',
        styles: [
            // Set the line style for the user-input coordinates
            {
            'id': 'gl-draw-line',
            'type': 'line',
            'filter': [
                'all',
                ['==', '$type', 'LineString'],
                ['!=', 'mode', 'static']
            ],
            'layout': {
                'line-cap': 'round',
                'line-join': 'round'
            },
            'paint': {
                'line-color': '#438EE4',
                'line-dasharray': [0.2, 2],
                'line-width': 2,
                'line-opacity': 0.7
            }
            },
            // Style the vertex point halos
            {
            'id': 'gl-draw-polygon-and-line-vertex-halo-active',
            'type': 'circle',
            'filter': [
                'all',
                ['==', 'meta', 'vertex'],
                ['==', '$type', 'Point'],
                ['!=', 'mode', 'static']
            ],
            'paint': {
                'circle-radius': 12,
                'circle-color': '#FFF'
            }
            },
            // Style the vertex points
            {
            'id': 'gl-draw-polygon-and-line-vertex-active',
            'type': 'circle',
            'filter': [
                'all',
                ['==', 'meta', 'vertex'],
                ['==', '$type', 'Point'],
                ['!=', 'mode', 'static']
            ],
            'paint': {
                'circle-radius': 8,
                'circle-color': '#438EE4'
            }
            }
        ]
    });

    // Add the draw tool to the map
    map.addControl(draw);

    // Add create, update, or delete actions
    map.on('draw.create', updateRoute);
    map.on('draw.update', updateRoute);
    map.on('draw.delete', removeRoute);

    // Use the coordinates you just drew to make the Map Matching API request
    function updateRoute() {
        removeRoute(); // Overwrite any existing layers

        const profile = 'driving'; // Set the profile

        // Get the coordinates
        const data = draw.getAll();
        const lastFeature = data.features.length - 1;
        const coords = data.features[lastFeature].geometry.coordinates;

        // Format the coordinates
        const newCoords = coords.join(';');

        // Set the radius for each coordinate pair to 25 meters
        const radius = coords.map(() => 25);
        getMatch(newCoords, radius, profile);
    }

    // Make a Map Matching request
    async function getMatch(coordinates, radius, profile) {
        // Separate the radiuses with semicolons
        const radiuses = radius.join(';');

        // Create the query
        const query = await fetch(
            `https://api.mapbox.com/matching/v5/mapbox/${profile}/${coordinates}?geometries=geojson&radiuses=${radiuses}&steps=true&access_token=${mapboxgl.accessToken}`,
            { method: 'GET' }
        );
        const response = await query.json();

        // Handle errors
        if (response.code !== 'Ok') {
            alert(
            `${response.code} - ${response.message}.\n\nFor more information: https://docs.mapbox.com/api/navigation/map-matching/#map-matching-api-errors`
            );
            return;
        }
        const coords = response.matchings[0].geometry;

        // Draw the route on the map
        addRoute(coords);
    }

    // Draw the Map Matching route as a new layer on the map
    function addRoute(coords) {
        // If a route is already loaded, remove it
        if (map.getSource('route')) {
            map.removeLayer('route');
            map.removeSource('route');
        } else {
            map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': {
                'type': 'geojson',
                'data': {
                'type': 'Feature',
                'properties': {},
                'geometry': coords
                }
            },
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#bf5d56',
                'line-width': 8,
                'line-opacity': 0.8
            }
            });
        }
    }

    // If the user clicks the delete draw button, remove the layer if it exists
    function removeRoute() {
        if (!map.getSource('route')) return;
        map.removeLayer('route');
        map.removeSource('route');
    }
</script>

    @*const getAllStations {
        $("#stations").html("<div style='background-color:yellow; border:1px solid red; padding:3px; width:200px'>Please Wait...</div>");
        
        $.ajax({
            type: "POST",
            url: "StationController.cs/Stations",
            data: "{}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: OnSuccess,
            error: OnError
        });
    }
    function OnSuccess(data) {
            var TableContent = "<table border='0'>" +
                                    "<tr>" +
                                        "<td>Rank</td>" +
                                        "<td>Company Name</td>" +
                                        "<td>Revenue</td>" +
                                        "<td>Industry</td>" +
                                    "</tr>";
            for (var i = 0; i < data.d.length; i++) {
                TableContent += "<tr>" +
                        "<td>"+ data.d[i].Rank +"</td>" +
                        "<td>"+data.d[i].CompanyName+"</td>" +
                        "<td>"+data.d[i].Revenue+"</td>" +
                        "<td>"+data.d[i].Industry+"</td>" +
                    "</tr>";
            }
            TableContent += "</table>";
 
            $("#stations").html(TableContent);
    }
    function OnError(data) {
 
    }*@


@*    function getStationCoords (event) {
        var coordinates = event.lngLat;
        var latitudeInput = document.getElementById('Latitude').value = coordinates.lat;
        var longitudeInput = document.getElementById('Longitude').value = coordinates.lng;

        if (marker) {
            marker.remove();
        }

        marker = new mapboxgl.Marker({
            color: '#bf5d56',
            scale: 1.2
        })
        .setLngLat(coordinates)
        .addTo(map);
    }
    map.on('click', getStationCoords);*@