@using rina.Models.Admin
@model AddAccountModel

<div class="formContainer">
    <form asp-action="AddAccount" id="AddAccountForm">
        <h3>ADD ACCOUNT</h3>
        <input asp-for="Email" type="text" placeholder="email">
        <input asp-for="Username" type="text" placeholder="username">
        <input asp-for="Password" type="password" placeholder="password">
        <input asp-for="Password" type="password" placeholder="confirm password">
        <input asp-for="Role" type="text" placeholder="e.g. driver, admin">

        <button type="submit" class="btn">ADD ACCOUNT</button>
    </form>
</div>

