

<div id="map"></div>

<div class="AddStation">
    <button type="submit" class="btn" style="position: relative; margin: 5vh;">Add Station</button>
</div>

@*<p>45.74716518869609, 21.231415414817413</p>
<p>45.74741056734637, 21.226795337026623</p>*@


<script>
    // Add your Mapbox access token
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVlYS1icmFuZHVzYSIsImEiOiJjbGd0dGFwdzIwMjA1M3JrOHF3ZmR2N3NvIn0.tP1VOcDml_MHwvq98KkL6g';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [21.213444, 45.754082], // starting position [lng, lat]
        zoom: 12.5 // starting zoom
    });


    // Create a default Marker and add it to the map.
    const marker = new mapboxgl.Marker({
        color: '#E74C3C', // Customize the marker color
        scale: 1.2, // Adjust the marker size
        draggable: true, // Make the marker draggable if desired
    })
    .setLngLat([21.213444, 45.754082])
    .addTo(map);


    function add_marker (event) {
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat); // modify to add to db
        marker.setLngLat(coordinates).addTo(map);
    }
    map.on('click', add_marker);
    map.on('click', (e) => {
        // `e.lngLat` is the longitude, latitude geographical position of the event.
        document.getElementById('info').innerHTML = JSON.stringify(e.lngLat.wrap());
    });

</script>