

<div id="map"></div>

@*<p>45.74716518869609, 21.231415414817413</p>
<p>45.74741056734637, 21.226795337026623</p>*@


<script>
    // Add your Mapbox access token
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVlYS1icmFuZHVzYSIsImEiOiJjbGd0dGFwdzIwMjA1M3JrOHF3ZmR2N3NvIn0.tP1VOcDml_MHwvq98KkL6g';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [21.213444, 45.754082], // starting position [lng, lat]
        zoom: 12.5 // starting zoom
    });


    // Create a default Marker and add it to the map.
    const marker = new mapboxgl.Marker({
        color: '#E74C3C', // Customize the marker color
        scale: 1.2, // Adjust the marker size
        draggable: true, // Make the marker draggable if desired
    })
    .setLngLat([21.213444, 45.754082])
    .addTo(map);


    function add_marker (event) {
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat); // modify to add to db
        marker.setLngLat(coordinates).addTo(map);
    }
    map.on('click', add_marker);
    map.on('click', (e) => {
        // `e.lngLat` is the longitude, latitude geographical position of the event.
        document.getElementById('info').innerHTML = JSON.stringify(e.lngLat.wrap());
    });

    var origin = [21.246275, 45.737673];
    var destination = [21.225905, 45.749515];


    map.on('load', () => {
        fetch(
            `https://api.mapbox.com/directions/v5/mapbox/driving/${origin[0]},${origin[1]};${destination[0]},${destination[1]}?access_token=${mapboxgl.accessToken}`
            )
        .then((response) => response.json())
        .then((data) => {
            var route = data.routes[0].geometry;
			
		    var decodedRoute = polyline.toGeoJSON(route);
            console.log(decodedRoute);
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': decodedRoute
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });
    });
    
</script>