<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]rina</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/rina.styles.css" asp-append-version="true" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand mb-0" asp-area="" asp-controller="Home" asp-action="Index">rina</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="admindropdownmenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add
                                </a>

                                <div class="dropdown-menu" aria-labelledby="admindropdownmenu">
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="AddVehicle">Add Vehicle</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="AddStation">Add Station</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="AddRoute">Add Route</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Identity" asp-action="AddAccount">Add Account</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Driver"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="driverdropdownmenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Breakdown Reason
                                </a>

                                <div class="dropdown-menu" aria-labelledby="driverdropdownmenu">
                                    <button class="dropdown-item text-dark">Flat tire</button>

                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item text-dark">Engine breakdown</button>

                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item text-dark">Got in an accident</button>

                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item text-dark">No fuel</button>

                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item text-dark">Other</button>
                                </div>
                            </li>

                            <li class="nav-item">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Navigate</button>
                                @*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">End trip</button>*@
                            </li>
                        }
                    </ul>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container" style="margin-left: 3vh;;">
            &copy; 2023 - rina
        </div>
    </footer>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
