@using rina.Models.Identity
@model LoginModel

<div class="formContainer">
    <form asp-action="Login" id="LoginForm">
        <h3>LOG IN</h3>
        <input asp-for="Username" type="text" placeholder="username">
        <input asp-for="Password" type="password" placeholder="password">

        <button type="submit" class="btn">Login</button>

        <div class="account">
            <p>Don't have an account?</p>
            <a asp-action="Register">SIGN UP</a>
        </div>
    </form>
</div>