@using rina.Models.Vehicle
@using rina.Models.Route
@model VehicleModel
@{
    AddVehicleModel model = ViewData["model"] as AddVehicleModel;
}

<div class="formContainer">
    <form asp-action="AddVehicle" id="AddVehicleForm">
        <h3>ADD VEHICLE</h3>

        <input asp-for="Name" type="text" placeholder="vehicle name">
        <input asp-for="Type" type="text" placeholder="vehicle type">
      
        <fieldset id="stations" class="p-2" 
            style="border: 1px solid #ad5049; margin-top: 10px; /*display: flex; justify-content: space-between;*/ align-items: center;">
            <legend class="float-none w-auto px-3" style="text-align: left; font-size: 1.1rem; color: #91403a;">
                Select route
            </legend>

            <select asp-for="RouteId"
                id="select" autocomplete="off" required 
                style="width: 100%; padding: 5px 0 5px 0; color: gray; height: 5vh; margin: 0 2vh 2vh 0; display: block;">
                <option>Select route</option>

                @foreach(var option in model.Routes)
                {
                    <option value="@option.Key">@option.Value.Item1.Name.ToString() - @option.Value.Item2.Name.ToString()</option>
                }
            </select>
        </fieldset>

        <button type="submit" class="btn">ADD VEHICLE</button>
    </form>
</div>