html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


/*-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    background: #fff1f0;
}

input:focus {
    outline: 2px solid #91403a;
}



.container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: unset;
}

.pb-3 {
    padding-bottom: 0!important;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
    height: 8vh;
    z-index: 10;
}

#select {
    border-radius: 0;
    border: 1px solid #bf5d56;
    font-size: 12px;
}

#select:focus {
    outline: 1px solid #91403a;
}

.btn {
    color: #bf5d56;
    border-color: #bf5d56;
    box-shadow: 0 0 0 0 !important;
}

    .btn:hover {
        background-color: #bf5d56;
        color: white !important;
        border-color: #bf5d56;
    }

    .btn:focus {
        box-shadow: 0 0 0 0 !important;
        outline: none !important;
    }

/*-------------- driver-pov-page -----------*/
.start .btn {
    position: relative;
    padding: 5px 7px 5px 7px;
    border: none;
    cursor: pointer;
    margin: 2vh 0 0 2vh;
    background: #ad5049;
    color: white;
    z-index: 100;
}



/*-------------- admin-pov-page -----------*/
/*form fieldset#stations div.select:focus {
    border-color: red;
}

form fieldset#stations div.select[data-multiple] div.header {
    display: none;
}

form fieldset#stations div.select div.header {
    content: "↓";
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0;
    position: relative;
    width: auto;
    box-sizing: border-box;
    border-width: 1px;
    border-style: inherit;
    border-color: inherit;
    border-radius: inherit;
}

    form fieldset#stations div.select div.header::after {
        content: "↓";
        align-self: stretch;
        display: flex;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 0.5em;
    }

    form fieldset#stations div.select div.header:hover::after {
        background-color: red;
    }

.select .header select {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border-width: 0;
    width: 100%;
    flex: 1;
    display: none;
}

    .select .header select optgroup {
        display: none;
    }

.select select div.option {
    display: none;
}

form fieldset#stations div.select {
    user-select: none;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
    border-color: gray;
    width: auto;
    display: inline-block;
}

    form fieldset#stations div.select:focus,
    form fieldset#stations div.select:hover {
        border-color: blue;
    }

    form fieldset#stations div.select[data-open] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

        form fieldset#stations div.select[data-open] datalist {
            display: initial;
        }

    form fieldset#stations div.select datalist {
        appearance: none;
        position: absolute;
        border-style: solid;
        border-width: 1px;
        border-color: gray;
        left: 0;
        display: none;
        width: 100%;
        box-sizing: border-box;
        z-index: 2;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

        form fieldset#stations div.select datalist div.option {
            background-color: white;
            margin-bottom: 1px;
            cursor: pointer;
            padding: 0.5em;
            border-width: 0;
        }

            form fieldset#stations div.select datalist div.option:hover,
            form fieldset#stations div.select datalist div.option:focus,
            form fieldset#stations div.select datalist div.option:checked {
                background-color: blue;
                color: white;
            }

    form fieldset#stations div.select div.optgroup div.option[data-disabled] {
        color: gray;
    }

    form fieldset#stations div.select div.optgroup div.option[data-checked] {
        background-color: blue;
        color: white;
    }

    form fieldset#stations div.select div.optgroup div.label {
        font-weight: bold;
    }

    form fieldset#stations div.select div.optgroup div.option div.label {
        font-weight: normal;
        padding: 0.25em;
    }

    form fieldset#stations div.select div.header span {
        
        width: 100%;
    }*/



/*
.dropbtn {
    color: #7a211b;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-left: 5vh;
    font-weight: 500;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background: #fff1f0 !important;
}

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block
    }

        .dropdown-content a:hover {
            filter: brightness(130%);
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    filter: brightness(130%);
}
*/

/*-------------- user-pov-page -----------*/
/*.header {
    padding: 10px 0 40px 0;
    background: #fff1f0;
    z-index: 100;
    position: relative;
}

    .header ul {
        list-style-type: none;
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .header li {
        float: left;
    }

        .header li:hover {
            filter: brightness(130%);
        }

        .header li:last-child {
            float: right;
        }

    .header a {
        text-decoration: none;
        color: #7a211b;
    }*/

.left-container {
    height: 92vh;
    width: 50vh;
    padding: 5vh 5vh 5vh 5vh;
    background: #bf5d56;
    z-index: 5;
    position: relative;
    border-left: 0;
}

    .left-container input {
        width: 100%;
        height: 30px;
        margin: 5px 0;
        padding: 0 10px;
        border: 1px solid #91403a;
        font-size: 12px;
    }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/*-------------- account-page -----------*/
.formContainer {
    width: 25%;
    height: 100%;
    position: center;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    background: white;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}



.formContainer form {
    margin: 0 10px 0 10px;
    width: 100%;
}

    .formContainer form h3 {
        text-align: center;
        margin-bottom: 40px;
        color: #ad5049;
    }

    .formContainer form input {
        width: 100%;
        height: 30px;
        margin: 5px 0 0 0;
        padding: 0 10px;
        border: 1px solid #91403a;
        font-size: 12px;
    }

    .formContainer form .btn {
        padding: 5px 7px 5px 7px;
        border: none;
        cursor: pointer;
        margin: 20px 0 30px 0;
        background: #ad5049;
        color: white;
        border-radius: 0;
    }

        .formContainer form .btn:hover {
            filter: brightness(130%);
        }

    .formContainer form ul {
        list-style-type: none;
        margin: 0 3px 30px 3px;
    }

    .formContainer li input {
        float: left;
        margin: 0;
        accent-color: #ad5049;
    }

        .formContainer li input:focus {
            outline: 0;
}

    .formContainer li label {
        position: fixed;
        float: right;
        margin: 5px;
    }

    .formContainer form li {
        font-size: 12px;
        float: left;
    }

        .formContainer form li:nth-child(n+2) {
            float: right;
        }

    .formContainer form a {
        text-decoration: none;
        color: #ad5049;
    }

        .formContainer form a:hover {
            filter: brightness(130%);
        }

.account {
    text-align: center;
}

    .account p {
        color: black;
        font-size: 12px;
        margin-bottom: 0.25rem;
    }

    .account a {
        text-decoration: none;
        color: #ad5049;
        font-size: 14px;
    }

        .account a:hover {
            filter: brightness(130%);
        }