html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


/*-------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    background: #fff1f0;
}

input:focus {
    outline: 2px solid #91403a;
}



.container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: unset;
}

.pb-3 {
    padding-bottom: 0!important;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
    height: 8vh;
    z-index: 10;
}

#select {
    border-radius: 0;
    border: 1px solid #bf5d56;
    font-size: 12px;
}

#select:focus {
    outline: 1px solid #91403a;
}

.btn {
    color: white;
    background-color: #91403a;
    border-color: #91403a;
    font-size: 0.9rem;
    box-shadow: 0 0 0 0 !important;
}

    .btn:hover {
        color: #bf5d56 !important;
        background-color: #91403a;
        border-color: #91403a;
    }

    .btn:focus {
        box-shadow: 0 0 0 0 !important;
        outline: none !important;
    }

#profile {
    color: #91403a;
}
    #profile:visited {
        background-color: #91403a;
        color: white;
    }
    #profile.nav-link:active {
        color: #91403a;
    }
#email.nav-link {
    color: #91403a !important;
}
    #email.nav-link:visited {
        background-color: #91403a !important;
        color: white;
    }
#change-password.nav-link {
    color: #91403a !important;
}
    #change-password.nav-link:visited {
        background-color: #91403a !important;
        color: white;
    }
#two-factor.nav-link {
    color: #91403a !important;
}
    #two-factor.nav-link:visited {
        background-color: #91403a !important;
        color: white;
    }
#personal-data.nav-link {
    color: #91403a !important;
}
    #personal-data.nav-link:visited {
        background-color: #91403a !important;
        color: white;
    }
#delete.btn.btn-danger {
    margin-top: 1vh;
}

/*-------------- driver-pov-page -----------*/
.start .btn {
    position: relative;
    padding: 5px 7px 5px 7px;
    border: none;
    cursor: pointer;
    margin: 2vh 0 0 2vh;
    background: #ad5049;
    color: white;
    z-index: 100;
}

/*-------------- admin-pov-page -----------*/


/*-------------- user-pov-page -----------*/
.left-container {
    height: 92vh;
    width: 50vh;
    padding: 5vh 5vh 5vh 5vh;
    background: #bf5d56;
    z-index: 5;
    position: relative;
    border-left: 0;
}

    .left-container input {
        width: 100%;
        height: 30px;
        margin: 5px 0;
        padding: 0 10px;
        border: 1px solid #91403a;
        font-size: 12px;
    }

#map {
    position: absolute;
    top: 8vh;
    bottom: 0;
    width: 100%;
}

/*-------------- add-route-page -----------*/

.info-box {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 8vh;
    bottom: 20px;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
}

/*-------------- add-station-page -----------*/

#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

#features {
    position: absolute;
    top: 15vh;
    right: 5vh;
    bottom: 5vh;
    width: 40%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

#map canvas {
    cursor: crosshair;
}

/*-------------- account-page -----------*/
.formContainer {
    width: 25%;
    height: 100%;
    position: center;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    background: white;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}



.formContainer form {
    margin: 0 10px 0 10px;
    width: 100%;
}

    .formContainer form h3 {
        text-align: center;
        margin-bottom: 40px;
        color: #ad5049;
    }

    .formContainer form input {
        width: 100%;
        height: 30px;
        margin: 5px 0 0 0;
        padding: 0 10px;
        border: 1px solid #91403a;
        font-size: 12px;
    }

    .formContainer form .btn {
        padding: 5px 7px 5px 7px;
        border: none;
        cursor: pointer;
        margin: 20px 0 30px 0;
        background: #ad5049;
        color: white;
        border-radius: 0;
    }

        .formContainer form .btn:hover {
            filter: brightness(130%);
        }

    .formContainer form ul {
        list-style-type: none;
        margin: 0 3px 30px 3px;
    }

    .formContainer li input {
        float: left;
        margin: 0;
        accent-color: #ad5049;
    }

        .formContainer li input:focus {
            outline: 0;
}

    .formContainer li label {
        position: fixed;
        float: right;
        margin: 5px;
    }

    .formContainer form li {
        font-size: 12px;
        float: left;
    }

        .formContainer form li:nth-child(n+2) {
            float: right;
        }

    .formContainer form a {
        text-decoration: none;
        color: #ad5049;
    }

        .formContainer form a:hover {
            filter: brightness(130%);
        }

.account {
    text-align: center;
}

    .account p {
        color: black;
        font-size: 12px;
        margin-bottom: 0.25rem;
    }

    .account a {
        text-decoration: none;
        color: #ad5049;
        font-size: 14px;
    }

        .account a:hover {
            filter: brightness(130%);
        }